body {
    background-color: #f2f2f2;
  }
  
  @media (max-width: 600px) {
    body {
      background-color: yellow;
    }
  }
  
  @media (max-width: 400px) {
    body {
      background-color: orange;
    }
  }
  